html {
  scroll-behavior: "smooth";
}

body {
     font-family: 'Montserrat', sans-serif !important;
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

.container-fluid {
      padding-right: 0 !important;
      padding-left: 0 !important;
}

header {
  padding: 10px 0 10px 0;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

h2 {
      text-align: center;         
}

.tracking-in-expand {
	animation-iteration-count: 1;
	-webkit-animation: tracking-in-expand 5.4s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: tracking-in-expand 5.4s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.content {
      column-count: 3;
      margin-top: 30px;
      height: 100%;
}

input {
      width: 100%;
      margin-top: 10px !important;
}

ul {
      list-style: none;
      flex-direction: column;
      padding: 0;
}

li {
      margin: 5px 0 5px 0;
      color: #6c757d;
}

.size-id {
      font-size: 11px;
}

.img-size {
      width: 70px;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  display: none;
  padding: 8px 4px;
  cursor: pointer;
}

.top-btn-img {
  width: 15px;
}

@media (max-width: 1399px) {
      body {
          font-size: 14px;
      }
}

@media (max-width: 1199px) {
     .content {
          column-count: 2;
     }
}

@media (max-width: 992px) {
      body {
          font-size: 13px;
      }
}

@media (max-width: 768px) {
      .content {
          display: flex; 
          justify-content: center; 
          column-count: 1;
      }
}

@media (max-width: 400px) {
      li {
          font-size: 12px;
      }
  
     .scrollToTopBtn {
          right: 15px;
    }
}

/*Preloader*/
.preloader {
      /*фиксированное позиционирование*/
      position: fixed;
      /* координаты положения */
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      /* фоновый цвет элемента */
      background: #e0e0e0;
      /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
      z-index: 1001;
    }

    .preloader__row {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    .preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }

    .preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes preloader-bounce {

      0%,
      100% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }
/*End preloader*/
