body {
     font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
      padding-right: 0 !important;
      padding-left: 0 !important;
}

header {
  padding: 10px 0 10px 0;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.sticky {
    position: sticky;
    top: 0;
}

h2 {
      text-align: center;         
}

.content {
      column-count: 3;
      margin-top: 30px;
      height: 100%;
}

input {
      width: 100%;
      margin-top: 10px !important;
}

ul {
      list-style: none;
      flex-direction: column;
      padding: 0;
}

li {
      margin: 5px 0 5px 0;
}

.size-id {
      font-size: 11px;
}

.img-size {
      width: 70px;
}


#go-top {
  position: fixed; 
  bottom: 25px; 
  right: 70px;
  text-align: center;
  cursor:pointer; 
  display:none;
  background: #c0c0c0;
  border-radius: 5px;
}

img, svg {
    vertical-align: middle;
    width: 35px;
}

@media (max-width: 1399px) {
      body {
          font-size: 14px;
      }
}

@media (max-width: 1199px) {
     .content {
          column-count: 2;
     }
}

@media (max-width: 992px) {
      body {
          font-size: 13px;
      }
}

@media (max-width: 768px) {
      .content {
          display: flex; 
          justify-content: center; 
          column-count: 1;
      }
     
     #go-top {
          right: 50px;
     }
}

@media (max-width: 400px) {
      li {
          font-size: 12px;
      }
     
     #go-top {
          right: 10px;
     }
}
